////
/// @group o-fonts
/// @link http://registry.origami.pearsoned.com/components/o-fonts
////

/// Path to the assets
///
/// @type String
$o-fonts-path: '//build.origami.pearsoned.com/files/o-fonts-assets@1.0.0/' !default;

/// Silent mode
///
/// @type Bool
$o-fonts-is-silent: true !default;

/// Font families
///
/// @type Map
$o-fonts-families: (
	HelveticaNeue: (
		font-family: 'HelveticaNeue, Helvetica, Arial, sans-serif',
		variants: (
			(weight: regular, style: normal),
		)
	)
) !default;

/// Human-readable Font-weights
///
/// @access private
///
/// @type Map
$_o-fonts-weights: (
	'thin':       100,
	'light':      200,
	'regular':    400,
	'normal':     400,
	'medium':     500,
	'semibold':   600,
	'bold':       700,
	'black':      800,
) !default;

/// Map of families and styles which have already been included
/// Used to avoid declarations from being written multiple times in the CSS output
///
/// @access private
$_o-fonts-families-included: () !default;
